/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
 *= require jquery-ui
 *= require jquery.plupload.queue
 *= require jquery.tagit.css
*/

a.no_underline:link {
    text-decoration: none;
}

a.no_underline:visited {
    text-decoration: none;
}

a.no_underline:hover {
    text-decoration: none;
}

a.no_underline:active {
    text-decoration: none;
}

.plupload-error {
    background-color: red;
    color: white;
    padding: 8px;
    text-align: center;
    display: none;
}
