- if user_signed_in?
  %li
    = link_to I18n.t('menu.logout'), destroy_user_session_path, :method => :delete
- else
  %li
    = link_to I18n.t('menu.login'), new_user_session_path
  %li
    = link_to I18n.t('menu.signup'), new_user_registration_path
